<div class="rounded w-full lg:w-4/5 xl:w-2/3 mx-auto mt-4 block lg:flex section justify-evenly" data-controller="tabdisplay">
  <ul id="tabs" class="py-2 px-1 mb-8 w-full md:w-1/5 flex md:inline overflow-x-auto md:overflow-auto">
    <li class="gradient-text min-w-fit px-4 font-bold py-1 text-base md:py-2 border-gradient rounded-t-mb-px border-gradient">
      <a id="default-tab" href="#"> This week </a>
      <%= link_to "Books", books_path, tab: "this_week",  %>
    </li>
    <li class="px-4 font-light min-w-fit py-1 md:py-2 white-tab">
      <a id="default-tab" href="#"> This month </a>
    </li>
  </ul>
</div>

<div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
    <h3 class="text-xl leading-none font-bold text-white-900 mb-10">Time Global</h3>
    <div class="block w-full overflow-x-auto">
      <%= pie_chart Timesubcategory.joins(:timeentries).group(:name).sum("timeentries.durationinhour") %>
    </div>
</div>

<div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
  <%# 4 box responsive 2x2 %>
  <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="text-2xl sm:text-3xl leading-none font-bold text-white-900"><%= @timeall.all.count %></span>
              <h3 class="text-base font-normal text-white-500">Total number of timeentries</h3>
          </div>
          <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
              14.6%
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
          </div>
        </div>
    </div>
    <div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="text-2xl sm:text-3xl leading-none font-bold text-white-900"><%= (@timeall.sum(:durationinhour) / @sum_jour).round(2) %> h</span>
              <h3 class="text-base font-normal text-white-500">Avg time per day</h3>
          </div>
          <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
              32.9%
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
          </div>
        </div>
    </div>
    <div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="text-2xl sm:text-3xl leading-none font-bold text-white-900"><%= (@timeall.sum(:durationinhour) / (@sum_jour / 7)).round(2) %> h</span>
              <h3 class="text-base font-normal text-white-500">Avg time per week </h3>
          </div>
          <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
              -2.7%
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
          </div>
        </div>
    </div>
      <div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="text-2xl sm:text-3xl leading-none font-bold text-white-900"><%= (@timeall.sum(:durationinhour) / @timeall.size).round(2) %> h</span>
              <h3 class="text-base font-normal text-white-500">Mean average number of timeentries</h3>
          </div>
          <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
              -2.7%
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
          </div>
        </div>
    </div>
        <div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="text-2xl sm:text-3xl leading-none font-bold text-white-900"><%= (@timeall.sum(:durationinhour) / (@sum_jour / 7)).round(2) %> h</span>
              <h3 class="text-base font-normal text-white-500">Avg time starting</h3>
          </div>
          <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
              11.3%
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
          </div>
        </div>
    </div>
        <div class="bg-dark-color shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <span class="text-2xl sm:text-3xl leading-none font-bold text-white-900"><%= (@timeall.sum(:durationinhour) / @timeall.size).round(2) %> h</span>
              <h3 class="text-base font-normal text-white-500">Avg time ending</h3>
          </div>
          <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
              -5.7%
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
          </div>
        </div>
    </div>
  </div>
  <div class="bg-dark-color shadow rounded-lg mt-4 p-4 sm:p-6 xl:p-8 ">
      <h3 class="text-xl leading-none font-bold text-white-900 mb-10">Time Global</h3>
      <div class="block w-full overflow-x-auto">
        <%= render "globalchart" %>
      </div>
  </div>
  <div class="bg-dark-color shadow rounded-lg mb-4 mt-4 p-4 sm:p-6 h-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-bold leading-none text-white-900">Latest Customers</h3>
        <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
        View all
        </a>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
            <% @timeentries.sort_by { |date| date.start_date }.first(4).each do |time| %>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <%# <div class="flex-shrink-0">
                      <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/neil-sims.png" alt="Neil image">
                    </div> %>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-white-900 truncate"><%= time.tag %></p>
                      <p class="text-sm font-medium text-white-900 truncate"><%= time.date.to_date %></p>
                      <p class="text-sm text-white-500 truncate">
                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="17727a767e7b57607e7973646372653974787a">hello</a>
                      </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-white-900"><%= time.durationinhour %></div>
                </div>
              </li>
            <% end %>
        </ul>
      </div>
  </div>
</div>
